body{
    background-color: bisque;
}

div{
    background-color: aliceblue;
    width: 600px;
    margin: auto;
}

input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}