body{
    background-color: #A67458;
}

div{
    background-color:#7AB8BF;
    border-radius: 25px;
    margin: 100px auto;
    width: 65%;
    padding: 25px;
}

.formdata{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}

header{
    text-align: center;
}

input{
    width: 65%;
    padding: 14px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

select{
    width: 65%;
    padding: 16px 20px;
}

textarea{
    width: 65%;
    padding: 12px 20px;
    resize: none;
    box-sizing: border-box;
}
